body{
  color: #161f30;
  font-family: 'Saira', sans-serif;
}

/* HEADER */
.hero{
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 500px) {
  .hero .text{
    text-shadow: #101621 5px 5px 10px;
  }
}

/* MIS PROYECTOS */
.projects .card{
  border-radius: 0 !important;
}

/* CUSTOM CLASSES */

.bg-dark{
  background-color: #161f30 !important;
}

.bg-darker{
  background-color: #0c1019;
}

.bg-danger{
  background-color: #ff3e05 !important;
}

.text-danger {
  color: #ff3e05 !important;
}